<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">tarea6</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="genero">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Predictor genero
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="edad">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Predictor edad
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="universidad">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Universidades
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="clima">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Clima
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wordpress">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> wordpress
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contactame">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Contactame
            </NavLink>
        </div>

    </nav>
</div>
