@page "/"

<h3>
    <i class="bi bi-tools"></i>
    Bienvenido a la app "Caja de Herramientas Virtual

</h3>
<hr />


<div class="text-center">
    

    <img class="mb-3" src="images/cajaherramienta.jpg" width="600" height="400" style="max-width: 100%;" />

</div>